<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firetera.percyv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Percyv2"
        tools:targetApi="31">
        <activity
            android:name=".OurContactInformation"
            android:exported="false" />
        <activity
            android:name=".ReservationProcessPackage.ReservationProcessPersonalInfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".GCashPaymentMethod"
            android:exported="false" />
        <activity
            android:name=".EditInfo"
            android:exported="false" />
        <activity
            android:name=".Splashscreen.SplashScreenRegister"
            android:exported="false" />
        <activity
            android:name=".LogIn.AskingForFullNameLogIn"
            android:exported="false" />
        <activity
            android:name=".LogIn.AskingForEmailLogIn"
            android:exported="false" />
        <activity
            android:name=".Splashscreen.SplashScreenLogIn"
            android:exported="false" />
        <activity
            android:name=".RegistrationJavaClass.RegistrationMethod"
            android:exported="false" />
        <activity
            android:name=".LogIn.LogInOTPVerification"
            android:exported="false" />
        <activity
            android:name=".RegistrationJavaClass.RegisterUsingMobileNum"
            android:exported="false" />
        <activity
            android:name=".RegistrationJavaClass.AskingForEmail"
            android:exported="false" />
        <activity
            android:name=".RegistrationJavaClass.AskingForFullname"
            android:exported="false" />
        <activity
            android:name=".RegistrationJavaClass.OTPVerification"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".LogIn.LogInExampleUI"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReservationProcessPackage.ConfirmationOfReservation"
            android:exported="false" />
        <activity
            android:name=".ReservationProcessPackage.ReservationDetails"
            android:exported="false" />
        <activity
            android:name=".CateringInfo"
            android:exported="false" />
        <activity
            android:name=".ContactNumber"
            android:exported="false" />
        <activity
            android:name=".OurLocation"
            android:exported="false" />
        <activity
            android:name=".ViewReservation"
            android:exported="false" />
        <activity
            android:name=".ReservationProcessPackage.ReservationProcess"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".HomeFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ReservationProcessPackage.PaymentMethod"
            android:exported="false" />
        <activity
            android:name=".Splashscreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainHome"
            android:exported="false" />
        <activity
            android:name=".SignInOrSignUp"
            android:exported="false" />
        <activity
            android:name=".RegistrationJavaClass.Register"
            android:exported="false" />
        <activity
            android:name=".MenuOrFood"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".EventThemeOption"
            android:exported="false" />
        <activity
            android:name=".ScheduleOption"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Foodoption"
            android:exported="false" />
    </application>

</manifest>